@import "../styles/_variables";

.App {
  .image-container {
    .image-with-faces {
      margin: 20px;
      padding: 20px;
      background-color: pink;
    }
    canvas,
    img {
      margin: 10px;
      border: 1px dashed blue;
      max-width: 400px;
    }
  }
}
