@import "../styles/_variables";

.App {
  .image-container {
    .image-with-faces {
      margin: 20px;
      padding: 20px;
      background-color: pink;
    }
    canvas,
    img {
      margin: 10px;
    }

    img {
      // border: 5px dashed yellow;
    }

    canvas {
      // border: 5px dashed blue;
    }
  }

  .error-box {
    width: 100px;
    // border: 10px dashed red;
  }
}
